# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
.pre-commit-config.yaml

# direnv
.direnv

# FVM
.fvm/

# Dart
.dart_tool/
build/
coverage/
.packages
.pub/
pubspec.lock
.flutter-plugins-dependencies

# IDE
*.iml
.idea/
*.swp
*.swo
.vscode/

# macOS
.DS_Store

# eget binaries (installed locally)
.eget/bin/

# Screenshots
.screenshots/
